@import 'bootstrap/variables';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import 'bootstrap';

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Main content
 */

.main {
  margin-top: 20px;
}

